pgu_drugs/webtier/src/main/webapp/WEB-INF/wsdl/pgu/pgu_orderinfo.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 2012 Developer Edition (Trial) 10.1.2.4113 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:chan="http://lanit.ru/ws/pgu/changeorderinfo" elementFormDefault="qualified" targetNamespace="http://lanit.ru/ws/pgu/changeorderinfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ServiceInfoType">
        <xs:sequence>
            <xs:element name="serviceOrgCode" type="xs:string" nillable="true" />
            <xs:element name="reestrId" type="xs:string" nillable="true" />
            <xs:element name="eServiceId" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderRequestType">
        <xs:sequence>
            <xs:element name="serviceInfo" type="chan:ServiceInfoType" nillable="true" />
            <xs:element name="pguId" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceResponseInfoType">
        <xs:annotation>
            <xs:documentation>
                Информация для изменения статуса заявки в ЛК
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="orderId">
                <xs:annotation>
                    <xs:documentation>
                        Cтатус завки
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="orgId" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Id заявки в ведомстве
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="statusCode">
                <xs:annotation>
                    <xs:documentation>
                        Новый статус завки
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="orgCode" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Код статуса в ведомстве
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="techCode" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Код статуса на ЕПГУ
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="comment" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Комментарий
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cancelAllowed" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Возможность отмены
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="authToken" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Токен безопасности</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="serviceInfo" type="chan:ServiceInfoType" />
    <xs:element name="orderRequest" type="chan:OrderRequestType" />
    <xs:element name="changeOrderInfo" type="chan:ServiceResponseInfoType" />
</xs:schema>
