prototipes/pgu_taxi/webtier/src/main/webapp/WEB-INF/wsdl/pgu/commons.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 2012 Developer Edition (Trial) 10.1.2.4113 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" targetNamespace="http://lanit.ru/ws/commons"
        xmlns:com="http://lanit.ru/ws/commons"        
        xmlns:xs="http://www.w3.org/2001/XMLSchema">            
    <xs:complexType name="DictionaryItem">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="optional" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Пока используется только для документов (PGU_DOCUMENTS)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
		</xs:sequence>
	</xs:complexType>    
    <xs:complexType name="Dictionary">
        <xs:sequence>
            <xs:element name="item" type="com:DictionaryItem" minOccurs="0" maxOccurs="unbounded" />        
		</xs:sequence>
	</xs:complexType>    
</xs:schema>
